html, body {
    height: 100%;
  }
  
  body {
    display: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    background: linear-gradient(#018e37, #98ffb3);
}
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(150%);

  }
  
  h1 {
    color: #333;
  }
  
  .buttons {
    margin-top: 20px;

  }
  
  button {
    padding: 20px 100px;
    font-size: 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  