body {
    display: auto;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    height: 100vh;
    background: linear-gradient(#018e37, #98ffb3);
}

.container {
    text-align: center;
    transform: translateY(300%);

}

h2 {
    margin-bottom: 20px;
}

#itemDropdown {
    width: 200px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}